<!--The content below is only a placeholder and can be replaced.-->
<hr>
<button (click)="switchLanguage('ar')">AR</button>
<button (click)="switchLanguage('en')">EN</button>
<hr>
<div style="text-align:center">
  <h1 translate="">username</h1>
</div>

